.main {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    align-items: start;
    justify-content: center;

    gap: 20px;

    padding: 10vh 10vw;
}

.main h1 {
    font-size: 3rem;
    text-wrap: nowrap;
    width: 100%;
    text-align: start;

    border-bottom: 1px solid rgba(85, 85, 85, 0.37);
}

.content {
    width: 100%;
    text-align: start;

    max-height: 60vh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    scrollbar-color: #202d49 #0f1729;
}

.content * {
    opacity: 0.85;
}

.controlls {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    display: flex;
}

.accept {
    min-width: 150px;
    width: 20%;
    max-width: 250px;
}

.home {
    background-color: transparent;
    border: 3px solid white;
    color: white;

    width: 200px;
}

.home:hover {
    color: black;
    background-color: white;
}

@media (max-width: 630px) {
    .main h1 {
        font-size: 1.2rem;
        border: none;
    }

    .main {
        padding: 10px;

        align-items: center;
        justify-content: center;
    }
}