html {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
    scrollbar-color: rgba(48, 46, 49, 0.7) rgba(25, 25, 26, 0.7);
    scrollbar-width: thin;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}