html {
    scroll-behavior: smooth;
}

* {
    scroll-behavior: smooth;
    scrollbar-color: rgba(67, 45, 73, 0.7) transparent;
    scrollbar-width: thin;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: none;
    -moz-appearance: textfield;
}