* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

    font-family: "Cascadia Code";
    letter-spacing: 1px;
}

img::selection {
    background-color: transparent;
}

body {
    background-color: rgb(15, 14, 15);
}

main {
    background-color: var(--BG-COLOR);
    z-index: 0;
}