* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

    font-family: "Cascadia Code";
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

p {
    opacity: 0.9;
    color: rgb(180, 180, 180);
}

img::selection {
    background-color: transparent;
}

body {
    background-color: rgb(15, 14, 15);
}

main {
    background-color: var(--BG-COLOR);
    z-index: 0;
}