body {
    background-color: var(--Background-color);
    font-family: var(--Font);
    color: var(--Text-color);
}

.title {
    color: var(--Title-text-color);
}

.desc {
    color: var(--Desc-text-color);
}