body {
    background-color: var(--Background-color);
    font-family: var(--Font);
}

.title {
    color: var(--Title-text-color);
}

.desc {
    color: var(--Desc-text-color);
}

a, p, h1, h2, h3, h4, h5, h6, span, i {
    color: var(--Text-color);
}