* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

    font-family: "Cascadia Code";
    letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

p {
    opacity: 0.9;
    color: rgb(180, 180, 180);
}

img::selection {
    background-color: transparent;
}

#root {
    width: 100vw;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100vw;
    width: 100vw;
    min-width: 100vw;
    background-color: rgb(15, 14, 15);
}

main {
    background-color: var(--BG-COLOR);
    z-index: 0;
}

.hide--pc {
    display: none;
}

@media (max-width: 1000px) {
    .hide--tablet {
        display: none;
    }

    .hide--pc {
        display: inherit;
    }
}

@media (max-width: 700px) {
    .hide--mobile {
        display: none;
    }

    .hide--pc {
        display: inherit;
    }
}