.Centered {
    position: relative;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.CenteredUp {
    position: absolute;
    
    top: 30%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}

.CenteredBottom {
    position: absolute;
    
    top: 70%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.EnterFade {
    animation: entry-fade 0.7s ease-in;
}

@keyframes entry-fade {
    from {
        opacity: 0;
    }
}