.miner-game {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-height: 500px;
    height: 100%;
    padding: 14px;
    --miner-bg: none;
    background-color: rgba(30, 41, 59, 0.2);
    background-image: linear-gradient(rgba(15, 23, 42, 0.2), rgba(15, 23, 42, 0.2)), var(--miner-bg);
    background-size: 100% 100%, cover;
    background-position: center, center;
    background-repeat: no-repeat;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: saturate(150%);
    overflow: hidden;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.miner-game canvas {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 630px) {
    .miner-game {
        border: none;
    }
}