.icon {
    font-size: 5rem;
    color: #3b82f6;
}

.desc {
    opacity: 0.8;
}

.btn {
    color: white;
    font-weight: bold;
}

.btn i {
    margin-right: 10px;
}

.telegram {
    background-color: #3b82f6;
}

.telegram:hover {
    background-color: #3b82f6;
}

.yt {
    background-color: rgb(255, 98, 98);
}

.yt:hover {
    background-color: rgb(255, 98, 98);
}

.btn-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttons {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.terms {
    opacity: 0.3;
    text-decoration: none;
    font-weight: lighter;
    font-size: 0.8rem;

    transition: all 0.3s ease;
}

.terms:hover {
    text-decoration: underline dashed; 
    opacity: 0.5;
}

@media (max-width: 630px) {
    .icon {
        display: none;
    }

    .btn i {
        margin-right: 1px;
    }

    .buttons {
        flex-direction: column;
        width: 85%;
        opacity: 0.8;
    }

    .btn {
        width: 100%;
    }

    .title {
        font-size: 1.4rem;
        text-align: start;
        width: 100%;
    }

    .desc {
        font-size: 0.9rem;
        opacity: 0.8;
    }
}