.content {
    display: flex;
    flex-direction: column;

    align-items: stretch;
    justify-content: center;

    width: 100%;
    gap: 20px;

    & > h2 {
        text-align: center;
    }
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 5px;
}

.input {
    width: 100%;

    & > input {
        width: 100%;
    }
}

.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 15px;
    transition: all 0.3s ease;
}

.form > * {
    transition: all 0.3s ease;
}

.mes-anim {
    animation: message-anim 0.3s ease;
}

@keyframes message-anim {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
}

.message {
    text-align: center;
    min-height: 18px;
}

.error {
    color: rgb(240, 139, 139);
}

.success {
    color: rgb(161, 255, 161);
}

.btn {
    padding-block: 15px;
}

.toast {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;

    width: 100%;

    padding-inline: 20px;
    gap: 10px;
}

.toast-title {
    text-align: start;
    margin-bottom: 5px;
    font-size: 0.95rem;
}

.toast-list {
    margin-left: 30px;
}

.toast-list > li {
    opacity: 1;
    color: white;
    font-size: 1rem;
    font-weight: 300;
}