.separator {
    background-color: rgba(197, 197, 197, 0.35);
    width: 95%;
    height: 1px;
    margin-block: 10px;
    transition: all 0.3s ease;
    animation: fade 1s ease;

    align-self: center;
    justify-self: center;
}

.vertical {
    width: 1px;
    height: 95%;
    margin: 0;
    margin-inline: 10px;
}

@keyframes fade {
    from {
        opacity: 0;
    }
}