.input-box {
    position: relative;
}

.input {
    background: rgba(76, 97, 116, 0.1) linear-gradient(40deg, rgba(255, 255, 255, 0.05), transparent);
    border: 1px solid rgb(128, 128, 128);
    transition: all 0.2s ease;
    padding: 20px 10px;
    border-radius: 15px;
    width: 100%;
    outline: none;
}

.title {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    pointer-events: none;
    opacity: 0.6;
    font-weight: 300;
}

.input:focus {
    border-color: white;
    outline: none;
    transform: scale(1.01);
} 

.input:focus ~ .title,
.input:not(:placeholder-shown) ~ .title {
    opacity: 0;
    transform: translateY(-50%) translateX(100px);
}

@media (max-width: 1000px) {
    .input {
        padding: 15px 5px;
        border-radius: 5px;
    }
}