.input-box {
    position: relative;
}

.input {
    background-color: transparent;
    border: 1px solid rgb(165, 165, 165);
    transition: all 0.2s ease;
    padding: 20px 10px;
    border-radius: 10px;
    width: 100%;
    outline: none;
}

.title {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    pointer-events: none;
    opacity: 1;
}

.input:focus {
    border-color: white;
    outline: none;
    transform: scale(1.01);
} 

.input:focus ~ .title,
.input:not(:placeholder-shown) ~ .title {
    opacity: 0;
}

@media (max-width: 1000px) {
    .input {
        padding: 15px 5px;
        border-radius: 5px;
    }
}