.loader {
    display: inline-block;
    background: linear-gradient(90deg,
            #7e90a0 0%,
            #b0b8c0 30%,
            #d1d1d1 50%,
            #b0b8c0 70%,
            #7e90a0 100%);
    background-size: 200% 100%;
    border-radius: 7px;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    animation: wave 10s ease infinite;
}

@keyframes wave {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}