.loader-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0;

    border-radius: 15px;
    background-color: transparent;

    max-height: 50px;
}

.loader {
    display: inline-block;
    background-color: gray;
    background-size: 200% 100%;
    padding: 10px;
    width: 100%;
    animation: wave 8s ease infinite;
    opacity: 0.8;
}

@keyframes wave {
    from {
        background-color: gray;
    }

    50% {
        background-color: rgb(255, 255, 255);
    }

    to {
        background-color: gray;
    }
}