.games {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;

    padding-inline: 10%;

    gap: 20px;
}

@media (max-width: 1000px) {
    .games {
        gap: 15px;
        width: 100vw;
    }
}

@media (max-width: 650px) {
    .games {
        flex-direction: column;
        gap: 25px;
    }
}