.header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    font-size: medium;
    text-align: center;

    width: 90%;
}

.stats-btn {
    color: rgb(255, 255, 255);
    opacity: 0.85;
    text-decoration: underline dashed;

    padding: 1px;
    background: none;

    transition: all 0.2s ease;

    text-decoration: none;
    border: none;
}

.stats-btn:hover {
    color: rgb(255, 212, 255);
    opacity: 0.7;

    background: none;
    transform: scale(102%, 102%);
}

.stats-section {
    display: flex;
    flex-direction: column;

    width: 100%;

    background: rgba(139, 59, 246, 0.1);
    border: 1px dashed rgba(139, 59, 246, 0.3);
    border-radius: 15px;

    padding: 12px 15px;
    gap: 15px;

    align-items: center;
    justify-content: center;
}

.stats-list {
    display: flex;
    flex-direction: column;

    width: 100%;

    gap: 10px;
}

.stat-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
}

.stats-loader {
    padding: 20px;
}

.stat-value-win {
    color: rgba(158, 255, 154, 1);
}

.stat-value-lose {
    color: rgba(255, 119, 119, 1);
}

.stat-date {
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-weight: 500;
}

@media (max-width: 630px) {
    .stats-section {
        padding: 10px 12px;
    }

    .stat-row {
        flex-direction: column;
        gap: 10px;
    }

    .stat-date {
        font-size: 13px;
    }
}
