.button {
    background-color: white;
    color: black;
    letter-spacing: 1.75px;

    border-width: 0px;
    border-radius: 7px;

    padding: 1% 2.5%;
    margin: 0.75%;

    transition: all ease 0.1s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: rgb(219, 219, 219);
    border-radius: 5px;

    transform: scale(102%, 102%);
}

.button:active {
    background-color: rgb(160, 160, 160);
    border-radius: 2px;

    transform: scale(105%, 105%);
}