.username {
    display: flex;
    gap: 5px;
    align-items: center;
    text-align: start;

    width: 300px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1050px) {
    .username {
        width: 200px;
    }
}

@media (max-width: 700px) {
    .username {
        width: 250px;
    }
}