.link-button {
    background-color: rgb(228, 227, 227);
    color: black;
    letter-spacing: 1.75px;

    text-decoration: none;

    border-width: 0px;
    border-radius: 7px;

    padding: 2% 4%;
    margin: 0.75%;

    transition: all ease 0.1s;
}

.link-button:hover {
    background-color: rgb(182, 182, 182);
    border-radius: 5px;

    transform: scale(102%, 102%);
}

.link-button:active {
    background-color: rgb(160, 160, 160);
    border-radius: 2px;

    transform: scale(105%, 105%);
}