.controlls {
    display: flex;
    flex-direction: row;

    align-items: start;
    justify-content: start;

    padding-inline: 10%;
    width: 100%;

    gap: 10px;
    margin: 10px;
}

@media (max-width: 1040px) {
    .controlls {
        padding-inline: 0;
    }
}

@media (max-width: 700px) {
    .controlls {
        display: grid;
        grid-template-columns: 1fr 1fr;

        padding: 0;
        margin: 10px;
        margin-top: 0;
    }
}