.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    gap: 15px;
}

.box > div {
    width: 100%;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 5%;
}

.user-info {
    gap: 15px
}

.username {
    font-size: 1.5rem;
}

.head {
    transition: all 0.25s ease;
}

.head img {
    border-radius: 5px;
}

.head:hover {
    transform: translateY(-3px);
}

.balance {
    margin-top: 5px;
}

.balance-section {
    width: 100%;
    min-height: 10%;
    height: 100px;

    background-color: rgba(93, 164, 226, 0.3);
    border: 2px dashed rgb(139, 209, 255);
    border-radius: 5px;

    padding: 15px;
}

.balance-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
