.content {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
    gap: 15px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: start;

    padding-inline: 5%;
    margin-block: 0.5%;

    width: 100%;
    gap: 10px;

    & img {
        border-radius: 3px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
    gap: 5px;
}

.balance {
    background-color: rgba(90, 120, 255, 0.45);
    border-radius: 7px;
    border: 2px dashed rgb(152, 152, 255);
    outline: 1px solid rgba(255, 255, 255, 0.15);

    width: 95%;
    padding: 3%;
    padding-block: 3%;
    padding-bottom: 3%;

    display: flex;
    flex-direction: row;
    gap: 3px;

    align-items: center;
    justify-content: center;
}

.balance-label {
    font-size: 1.1rem;
}

.data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    gap: 5px;
}

.data h4 {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    place-items: center;
    width: 60%;

    gap: 1px;
}

.btns .btn {
    background-color: rgba(135, 177, 255, 0.8);
    max-height: 40px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.55);

    & svg {
        height: 25px;
        fill: white;
    }
}

.btns .btn:hover {
    background-color: rgb(159, 193, 255);
}

.history {
    background-color: rgba(90, 255, 126, 0.45);
    border-radius: 7px;
    border: 2px dashed rgb(152, 255, 161);
    outline: 1px solid rgba(255, 255, 255, 0.15);

    width: 95%;
    padding: 3%;
    padding-block: 3%;
    padding-bottom: 3%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    align-items: center;
    justify-content: start;

    max-height: 300px;
    overflow-y: auto;

    scrollbar-color: rgb(107, 197, 107) transparent;
}

@media (max-width: 800px) {
    .history {
        display: none;
    }
}

.history-notfound {
    color: white;
    opacity: 0.6;
    font-weight: 300;
    padding: 10px;
    font-size: 0.85rem;

    cursor: default;
}

.history-notfound:hover {
    opacity: 0.8;
}

.controlls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-around;
    place-items: center;
    width: 95%;
    gap: 10px;
}

.controlls>button {
    width: 100%;
    height: 100%;
}

.controlls .profile_btn {
    background-color: rgba(27, 27, 27, 0.7);
    border: 2px solid rgb(141, 141, 141);
    border-radius: 3px;
    color: white;

    & svg {
        fill: white;
        max-height: 25px;
        max-width: 25px;
    }
}

.controlls .profile_btn:hover {
    background-color: rgba(59, 59, 59, 0.8);
    border: 2px solid rgb(255, 255, 255);
    transform: scale(0.95);
}

.controlls .profile_btn:active {
    background-color: rgba(59, 59, 59, 0.8);
    border: 2px solid rgb(255, 255, 255);
    transform: scale(0.92);
}

@media (max-width: 750px) {
    .controlls {
        display: none;
    }

    .btns {
        gap: 5px
    }

    .btns .btn {
        background-color: rgba(135, 177, 255, 0.5);
    }
}

.history-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(36, 36, 36, 0.3);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(179, 179, 179);
    width: 100%;
    transition: all 0.2s ease;
}

.history-item:hover {
    border-color: white;
    padding: 20px;
    border-radius: 3px;
}

.history-item > div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

.history-item > div > h1 {
    font-size: 1.5rem;
}

.history-time-date > p {
    font-size: 0.8rem;
    text-wrap: nowrap;
    opacity: 1;
}

.history-time-info {
    align-items: end !important;
}

.history-time-info > p {
    opacity: 1;
    color: white;
}

.history-time-info > p::after {
    content: " Ар";
    opacity: 0.4;
}