.content {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    width: 100%;
}

.badges {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
    padding: 20px;

    height: 40vh;
}

.badge {
    aspect-ratio: 1/1;
    height: 50px;
    width: 50px;
    image-rendering: pixelated;
    filter: brightness(10%) grayscale(1);
    transition: all 0.1s ease;
    cursor: pointer;
}

.badge:hover {
    filter: brightness(50%) grayscale(1);
    transform: scale(1.1);
}

.badge:active {
    transform: scale(1);
}

.has {
    filter: brightness(100%);
}

.has:hover {
    filter: brightness(100%);
}

.list {
    display: flex;
    align-items: start;
    justify-content: start;
    align-content: start;
    flex-wrap: wrap;
    gap: 7px;
}

.view {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    padding-inline: 20px;

    gap: 10px;
    text-align: center;
}

.view h2 {
    text-shadow: 0 0 10px;
}

.badge-view {
    height: 100px;
    width: 100px;
    max-height: 100px;
    max-width: 100px;
    aspect-ratio: 1/1;
    align-self: center;
    justify-content: center;
    image-rendering: pixelated;
    animation: badge-pulse 6s ease infinite;
}

@keyframes badge-pulse {
    from {
        filter: brightness(100%);
    }

    50% {
        filter: brightness(130%);
    }

    to {
        filter: brightness(100%);
    }
}

.not {
    opacity: 0.2;
    margin-top: 5%;
    font-weight: 200;
}