.main-title {
    font-size: 5.5vh;
}

.icon {
    animation: icon-jump 1s ease-in-out 0.3s both;
}

@keyframes icon-jump {
    from {
        transform: scale(105%, 105%);
        filter: brightness(110%);
    }
}

.title-container {
    display: flex;
    gap: 2%;

    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .title-container {
        padding-inline: 20%;
        justify-content: start;
    }
}

.title {
    text-shadow: 0px 0px 24px;
    text-transform: uppercase;
}

.purple-part {
    color: blueviolet;
    display: inline-block;
    animation: purple-part-show 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

@keyframes purple-part-show {
    0% {
        transform: translateX(70px);
        opacity: 0;
        filter: blur(4px);
    }
    60% {
        opacity: 1;
        filter: blur(0);
    }
    80% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        filter: blur(0);
    }
}

.desc {
    font-size: 2.35vmin;
    color: rgb(255, 255, 255);
    opacity: 0.7;

    font-weight: lighter;
    letter-spacing: 1.2px;

    text-transform: capitalize;
    animation: desc-show 3s ease;
}

@keyframes desc-show {
    from {
        opacity: 0;
    }
}

.title-box {
    margin-top: 1vh;
    margin-bottom: 4vh;
}

@media (max-width: 630px) {
    .main-title {
        font-size: 8vw;
    }

    .desc {
        font-size: 3vmin;
        margin-left: 3vw;
        margin-right: 3vw;

        opacity: 0.9;
    }

    .title-box {
        margin-top: 5vh;
        margin-bottom: 3.2vh;
    }

    .purple-part {
        animation: none;
    }
}

@media (max-width: 820px) {
    .title-container {
        padding-inline: 0;
        justify-content: center;
    }
}