.main-title {
    font-size: 5vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.title-container {
    display: flex;
    gap: 2%;

    align-items: center;
    justify-content: center;
}

.logo {
    width: 650px;
}

.title {
    display: none;
    text-shadow: 0px 0px 24px;
    text-transform: uppercase;
    text-wrap: nowrap;
}

.purple-part {
    color: blueviolet;
    display: inline-block;
}

.title-box {
    margin-top: 1vh;
}

@media (max-width: 1000px) {
    .title-container {
        padding-inline: 20%;
        justify-content: start;
    }

    .logo {
        width: 350px;
    }

    .title-box {
        margin-bottom: 1vh;
    }
}

@media (max-width: 630px) {
    .main-title {
        font-size: 8vw;
    }

    .title {
        display: inline;
    }

    .logo {
        display: none;
    }

    .title-box {
        margin-top: 7vh;
    }

    .purple-part {
        animation: none;
    }
}

@media (max-width: 820px) {
    .title-container {
        padding-inline: 0;
        justify-content: center;
    }
}