.checker {
    display: flex;
    width: 100%;

    align-items: center;
    justify-content: start;
    
    gap: 10px;

    padding: 10px;
    background-color: rgba(236, 236, 236, 0.05);
    border: 1px solid rgb(151, 151, 151);
    border-radius: 7px;

    position: relative;
    cursor: pointer;

    transition: all 0.4s ease;
}

.active {
    background-color: rgba(92, 255, 92, 0.4);
    border-color: white;
    gap: 20px;
}

.checker > input {
    transform: scale(1.1);
}

@media (max-width: 1000px) {
    .checker {
        padding: 7px;
        border-radius: 5px;
        gap: 7px;
    }

    .active {
        gap: 20px;
    }
}