.title-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;

    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.title-container > * {
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-container .desc {
    font-size: large;
}

.title-container .title {
    font-size: 3em;
}