.warn {
    color: rgb(255, 196, 35);
    opacity: 0.75;
    transition: all 0.2s ease;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.warn:hover {
    color: rgb(255, 193, 23);
    opacity: 1;
}

.warn::before {
    content: " ";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -1px;
    background-color: rgb(255, 193, 23);
    transition: all 0.3s ease;
}

.warn:hover::before {
    width: 60%;
}

@media (max-width: 630px) {
    .warn {
        font-size: 1rem;
    }

    .warn::before {
        display: none;
    }
}