.game-box {
    display: grid;
    grid-template-columns: 30% minmax(0, 1fr) 24%;
    height: 100%;
    width: 100%;
    min-height: 80vh;
    gap: 15px;
    padding-inline: 10%;
    animation: fade-up 1s ease;
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
}

.game-box > div {
    border: 1px solid rgb(114, 114, 114);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    min-width: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    overflow: hidden;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.presets {
    gap: 4px;    
}

.presets > button {
    padding: 10px;
    padding-inline: 15px;
}

.input > h2 {
    text-align: center;
}

.input > * {
    width: 100%;
}

.input > button {
    padding-block: 20px;
}

.bet-input {
    border-radius: 10px;
    background: transparent;
}

.play-btn {
    background-color: rgb(92, 144, 212);
    color: white;
    font-size: 1.3rem;
    padding: 15px !important;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.play-btn:hover {
    background-color: rgb(57, 107, 172);
}

.play-btn:active {
    transform: scale(0.99);
}

.cashout {
    background-color: rgb(95, 190, 104);
    color: rgb(15, 42, 18);
}

.cashout:hover {
    background-color: rgb(127, 224, 136);
}

@media (max-width: 1040px) {
    .game-box {
        grid-template-columns: 1fr;
        padding-inline: 0;
    }

    .presets {
        gap: 10px;
    }
    
    .presets > button {
        flex: 1;
    }
}

@media (max-width: 700px) {
    .game-box {
        min-height: 65vh;
    }

    .presets {
        display: none;
    }
}
