.history {
    border: 1px solid rgb(114, 114, 114);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding: 20px;

    justify-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    width: 100%;

    gap: 10px;
    max-height: 70vh;
    padding-right: 5px;

    overflow-y: auto;
}

@media (max-width: 1040px) {
    .history {
        display: none;
    }
}