.error-icon {
    color: rgb(247, 104, 104);
    font-size: 5em;
    animation: error-icon-fade 1s ease;
}

.not-found-btn {
    align-self: center;
}

.not-found-title {
    margin-top: 20vh;
}

@keyframes error-icon-fade {
    from {
        opacity: 0;
    }

    50% {
        transform: translateY(-5px);
    }
}