.footer {
    display: flex;

    align-items: center;
    justify-content: center;

    color: darkgray;
    opacity: 0.3;

    font-weight: lighter;
    font-size: smaller;
    letter-spacing: 1.5px;
}