.game-rnd-message {
    align-self: center;
    justify-self: center;

    text-align: center;

    padding: 0;
    margin: 0;

    font-size: 2.5rem;
}

.games-section {
    margin-top: 10vh;

    animation: game-section-enter 1s ease;
}

@keyframes game-section-enter {
    0% {

        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
