.titleDesc {
    color: var(--Secondary_text_color);
    font-family: var(--Font);
    font-size: 1.25rem;
    color: #cbd5e1;
    max-width: 600px;
    margin: 0 auto 40px;
}

.title {
    font-size: 5.5rem;
    font-weight: 700;

    margin-bottom: 24px;

    color: var(--Main_text_color);
    font-family: var(--Font);
    line-height: 1.1;
    
    text-transform: uppercase;
    letter-spacing: -0.02em;
    text-shadow: 4px 4px 46px;
}

.firstHalf {
    color: #ffffff;
}

.secondHalf {
    color: #9411ff
}