.picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px) saturate(150%);
    backface-visibility: visible;

    border: 1px solid rgba(110, 110, 110, 0.7);
    border-radius: 25px;
}

.btn {
    aspect-ratio: 1/1;
    height: 30px;
    width: 30px;
    transition: all 0.3s ease;
    position: relative;
    box-sizing: content-box;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(1.2);
    background-color: rgba(240, 248, 255, 0.2);
    border-radius: 30px;
}

.btn:active {
    transform: scale(1.1);
    background-color: rgba(240, 248, 255, 0.5);
}

.btn > .name {
    transition: all 0.3s ease;
    position: absolute;
    opacity: 0;
    right: 100%;
    top: 50%;
    transform: translateY(-65%) translateX(-50px);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    padding-inline: 15px;
    border-radius: 4px;
    border-end-end-radius: 25px;
    border-start-end-radius: 25px;
    text-align: start;
    corner-shape: bevel;
    border: 1px solid rgba(110, 110, 110, 0.527);
    pointer-events: none;
}

.btn:hover > .name {
    opacity: 1;
    transform: translateY(-50%) scale(0.8);
}

.btn > svg {
    fill: white;
    flex: 1;
    width: 30px;
    height: 30px;
}

.btn:hover > svg {
    fill: aliceblue;
}

@media (max-width: 1100px) {
    .picker {
        display: none;
    }
}