.history-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 400px;
    width: 100%;
    overflow-y: auto;
    padding: 10px;
}

.not-found-message {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding: 20px;
}
