* {
    margin: 0;
    padding: 0;

    text-decoration: none;
}

body {
    font-family: sans-serif;
    letter-spacing: 2px;

    width: 100vw;
    height: 100vh;
    
    align-content: center;
    justify-items: center;

    text-align: center;

    background-color: #0f1729;
}

main {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-items: center;

    gap: 2.5vh;
}

main h1 {
    font-size: 4rem;
    color: rgb(255, 124, 124);
}

main p {
    font-size: 1rem;
    color: rgb(224, 224, 224);
    font-weight: lighter;
    opacity: 0.9;
}

main a {
    display: flex;
    
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    width: 30%;
    padding: 15px 20px;

    background-color: white;

    border-radius: 15px;

    color: #0f1729;
    font-weight: bold;

    transition: all 0.2s ease;

    &:hover {
        transform: translateY(-5px);
    }
}