.badge-section {
    display: flex;

    width: 100%;

    background: rgba(139, 59, 246, 0.1);
    border: 1px dashed rgba(139, 59, 246, 0.3);
    border-radius: 15px;

    padding: 13px 16px;
}

.box {
    display: flex;
    align-items: start;
    justify-content: space-evenly;

    gap: 15px;
    width: 100%;
    max-height: 200px;

    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .badge-section {
        padding: 8px 10px;
    }

    .box {
        gap: 12px
    }
}