.header {
    position: fixed;
    bottom: 40px;

    min-height: 60px;
    z-index: 10000;

    background-color: rgba(29, 29, 29, 0.438);
    backdrop-filter: saturate(125%) blur(5px);
    border: 1px solid rgb(90, 90, 90);
    border-radius: 30px;

    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 0px;
    overflow: hidden;
}

.btn {
    border-radius: 30px;
    min-width: 108px;
    padding: 0 14px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    text-transform: uppercase;

    transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn:hover {
    background-color: aliceblue;
    color: black;
    border-radius: 0px;
}

.exit:hover {
    background-color: rgb(216, 121, 121);
    color: white;
}

.btn:active {
    background-color: rgb(212, 218, 223);
    transform: scale(1.1);
}

.exit:active {
    background-color: rgb(156, 79, 79);
}

.active {
    background-color: aliceblue;
    color: black;
    border-radius: 0px;
}
