.balance-section {
    display: flex;

    width: 100%;
    max-height: 10vh;

    background: rgba(59, 130, 246, 0.1);
    border: 1px dashed rgba(59, 130, 246, 0.3);
    border-radius: 15px;

    padding: 12px 10px;

    align-items: center;
    justify-content: space-between;

    animation: balance-show 1s ease;
}

@keyframes balance-show {
    from {
        opacity: 0.3;
    }
}
.add-money-button {
    display: flexbox;
    background-color: #3b82f6;
    border: none;
    border-radius: 0;
    flex: 1;

    max-width: 13vw;
    margin: 0;
}

.add-money-button:hover {
    transform: none;
    background-color: #5194ff;
}

.add-money-button > p {
    display: none;

    text-align: center;
    font-weight: normal;
}

.balance-label {
    font-weight: normal;
    font-size: large;
    color: #94a3b8;
    flex-shrink: 0;
    text-transform: uppercase;
}

.balance-value {
    font-weight: bold;
    color: #ffffff;
}

.balance-loader {
    display: inline;
    margin: 0;
    margin-left: 10px;

    padding: 5px;
    padding-right: 100%;
}

.balance-value::before {
    content: " ";
}

.balance-value::after {
    content: " Ар";
}

.controlls {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 5%;
    gap: 2%;
}

.controlls .f-part {
    border-right: 1px solid #3d73ca;
    border-radius: 10px 0 0 10px;
}

.controlls .s-part {
    border-left: 1px solid #3d73ca;
    border-radius: 0 10px 10px 0;
}

@keyframes contextFade {
    from {
        opacity: 0;
        transform: translate(-60%, -130%);
    }
    to {
        opacity: 1;
        transform: translate(-60%, -150%);
    }
}

.add-money-button:is(.f-part):hover::after {
    content: "Вывод";
    position: absolute;
    text-align: center;
    transform: translate(-60%, -150%);

    color: white;
    font-weight: 500;
    letter-spacing: 1px;

    background-color: #384455;
    border-radius: 10px;
    padding: 10px;

    animation: contextFade 0.3s ease;
}

.add-money-button:is(.s-part):hover::after {
    content: "Пополнение";
    position: absolute;
    text-align: center;
    transform: translate(-60%, -150%);

    color: white;
    font-weight: 500;
    letter-spacing: 1px;

    background-color: #384455;
    border-radius: 10px;
    padding: 10px;

    animation: contextFade 0.3s ease;
}

@media (max-width: 630px) {
    .balance-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        animation: none;
    }

    .add-money-button {
        width: 80%;
        max-width: 80%;
        padding: 10px 15px;
    }

    .balance-loader {
        padding-right: 20%;
    }

    .add-money-button:is(.s-part):hover::after {
        content: "";
        background: none;
    }

    .add-money-button:is(.f-part):hover::after {
        content: "";
        background: none;
    }

    .controlls .f-part {
        border: none;
        border-radius: 10px;
    }

    .controlls .s-part {
        border: none;
        border-radius: 10px;
    }

    .controlls {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .add-money-button > i {
        display: none;
    }
    
    .add-money-button > p {
        display: inline;
    }

    .balance-section {
        max-height: none;
    }
}