.admin-box {
    justify-items: center;
    align-items: center;

    margin-block: 1%;
    margin-top: 3%;
}

.admin-panel {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 80vw;
    height: 50vh;

    margin-inline: 3%;

    gap: 10px;
}

.container {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;

    min-width: 100%;

    margin-top: 2%;
}

.desc {
    text-align: end;
    justify-content: end;
    align-items: center;
}

.desc h1, .desc h2, .desc h3, .desc h4, .desc h5, .desc h6 {
    color: white;
    font-size: 200%;
}

.desc p {
    color: aliceblue;
    opacity: 0.75;
}

.home-btn {
    position: absolute;
    bottom: 5%;
    width: 80%;
}

.home-btn-pc {
    position: fixed;
    top: 20px;
    left: 20px;

    background-color: rgb(121, 148, 172);
    opacity: 0.4;
}

.home-btn-pc:hover {
    background-color: rgb(141, 167, 190);
}

@media (max-width: 630px) {
    .admin-panel {
        margin-top: 10%;
    }

    .container {
        flex-direction: column;

        width: 100%;
        gap: 10px;

        margin-top: 4%;
    }

    .desc {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}