.exit-modal {
    justify-self: end;
    align-self: flex-end;

    transform: translate(30px, -25px);

    background-color: transparent;
    color: rgb(156, 156, 156);
    opacity: 0.5;

    font-weight: bold;
}

.modal .exit-modal:hover {
    background-color: transparent;
    color: white;
    opacity: 1;

    transform: translate(30px, -25px);
}