.profile-section {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: start;
    justify-content: flex-start;

    margin: 10px 0 15px 0;

    padding-bottom: 20px;
    border-bottom: 1px solid rgba(105, 105, 105, 0.253);
}

.nickname {
    transition: opacity 0.2s ease;
}

.nickname:hover {
    opacity: 0.7;
}

.uuid {
    opacity: 0.7;
}