.profile-section {
    display: flex;
    flex-direction: row;

    width: 100%;

    align-items: center;
    justify-content: flex-start;

    margin: 10px 0 15px 0;
    padding-bottom: 20px;

    border-bottom: 1px solid rgba(105, 105, 105, 0.253);
    gap: 10px;
}

.nickname {
    display: flex;
    line-height: 32px;
    gap: 10px;
    transition: opacity 0.2s ease;
}

.uuid {
    opacity: 0.7;
}

.head {
    border-radius: 5px;
}