.section {
    height: 100%;
    min-height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    padding-inline: 10%;
    padding-block: 3%;

    gap: 25px;

    flex: 1;
}

@media (max-width: 650px) {
    .section {
        margin-top: 100px;
    }
}