.game-card {
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    min-height: 500px;
    padding: 32px 24px;

    background: #1e293b;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    border-radius: 32px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

    transition: all 0.25s;
    animation: fadeInUp 0.6s ease forwards;

    border: 1px solid #334155;

    z-index: 1;
}

.game-card:hover {
    transform: translateY(-8px);
    border-color: #3b82f6;

    -webkit-box-shadow: 0px 0px 47px 0px rgba(59, 130, 246, 0.61);
    -moz-box-shadow: 0px 0px 47px 0px rgba(59, 130, 246, 0.61);
    box-shadow: 0px 0px 47px 0px rgba(59, 130, 246, 0.61);
}

.game-card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top,
            rgba(15, 23, 42, 1) 0%,
            rgba(15, 23, 42, 0.8) 40%,
            rgba(15, 23, 42, 0) 100%);
    backdrop-filter: blur(4px);
    transition: height 0.2s ease-out;
    z-index: 1;
    pointer-events: none;
}

.game-card:hover::after {
    height: 250px;
}

.details {
    transition: transform 0.3s ease;
    z-index: 2;
}

.game-card .title {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
    color: #ffffff;
}

.game-desc {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    transform: translateY(20px);
}

.game-card .desc {
    color: #94a3b8;
    margin-bottom: 24px;
    font-size: 1rem;
}

.game-card:hover .details {
    transform: translateY(-10px);
}

.game-card:hover .game-desc {
    max-height: 200px;
    opacity: 1;
    transform: translateY(0);
    margin-top: 15px;
}

.play-game-button {
    display: inline-block;
    background: transparent;
    border: 2px solid #3b82f6;
    color: #3b82f6;
    font-weight: 600;
    padding: 10px 28px;
    border-radius: 40px;
    text-decoration: none;
    transition: all 0.2s;
    font-size: 1rem;
}

.play-game-button:hover {
    background: #3b82f6;
    color: white;
    border-radius: 40px;
}