.btn {
    margin: 5px;
    padding: 15px 50px;

    color: white;
    text-decoration: none;
    background: rgba(20, 15, 31, 0.6);
    background: linear-gradient(135deg, rgba(64, 39, 139, 0.6), rgba(82, 20, 139, 0.685));
    box-shadow: 0px 7px 6px 0px rgba(15, 15, 15, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;

    font-size: 1.1rem;
    letter-spacing: 1.2px;

    transition: all 0.2s ease;
    position: relative;
    overflow: hidden;

    cursor: pointer;
}

.btn:hover {
    background-color: rgb(114, 39, 184);
    transform: translateY(-2px);
    border-color: rgb(81, 108, 230);
    box-shadow: 0px 7px 6px 0px rgb(81, 108, 230, 0.25);
    border-radius: 5px;
}

.btn:active {
    transform: translateY(4px) scale(0.95);
    border-radius: 1px;
    box-shadow: 0px 7px 6px 0px rgba(15, 15, 15, 0.25);
}