.header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    font-size: medium;
    text-align: center;

    width: 90%;
}

.all-btn {
    color: rgb(255, 255, 255);
    opacity: 0.85;
    text-decoration: underline dashed;

    padding: 1px;
    background: none;

    transition: all 0.2s ease;

    text-decoration: none;
}

.all-btn:hover {
    color: rgb(212, 255, 212);
    opacity: 0.7;

    background: none;
    transform: scale(102%, 102%);
}

.history-section {
    display: flex;
    flex-direction: column;

    width: 100%;

    background: rgba(75, 246, 59, 0.1);
    border: 1px dashed rgba(59, 246, 106, 0.3);
    border-radius: 15px;

    padding: 12px 15px;
    gap: 20px;

    align-items: center;
    justify-content: center;
}

.history-list {
    display: flex;
    flex-direction: column;

    width: 100%;

    justify-content:space-between;
    align-items: start;
    gap: 7px;
}

.not-found-message {
    color: rgb(189, 189, 189);
    margin: 5%;
}