.header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    font-size: medium;
    text-align: center;

    width: 90%;
}

.all-btn {
    color: rgb(255, 255, 255);
    opacity: 0.85;
    text-decoration: underline dashed;

    padding: 1px;
    background: none;

    transition: all 0.2s ease;

    text-decoration: none;
}

.all-btn:hover {
    color: rgb(212, 255, 212);
    opacity: 0.7;

    background: none;
    transform: scale(102%, 102%);
}

.history-section {
    display: flex;
    flex-direction: column;

    width: 100%;

    background: rgba(75, 246, 59, 0.1);
    border: 1px dashed rgba(59, 246, 106, 0.3);
    border-radius: 15px;

    padding: 12px 15px;
    gap: 20px;

    align-items: center;
    justify-content: center;

    animation: history-show 1s ease;
}

.history-list {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.history-list > p {
    text-align: center;
    margin: 0;
    padding: 0;

    margin-block: 10px;
    width: 100%;
}

@media (max-width: 1000px) {
    .history-list {
        max-height: 30vh;
        overflow-y: auto;
    }
}

@keyframes history-show {
    from {
        opacity: 0.3;
        transform: translateY(-5px);
    }
}

.history-list {
    display: flex;
    flex-direction: column;

    width: 100%;

    justify-content:space-between;
    align-items: start;
    gap: 7px;
}

.not-found-message {
    color: rgb(189, 189, 189);
    margin: 5%;

    background: linear-gradient(
        90deg,
        rgb(189, 189, 189) 0%,
        rgb(226, 226, 226) 25%,
        white 50%,
        rgb(226, 226, 226) 75%,
        rgb(189, 189, 189) 100% 
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: gradient-wave 2s linear infinite;
}

@keyframes gradient-wave {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: 200% center;
    }
}