.btn {
    padding: 10px 20px;
    color: black;
    border-radius: 5px;
    border-color: transparent;

    transition: all 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: rgb(180, 180, 180) ;
    transform: scale(1.025);
}

.btn:active {
    transform: translateY(2px) scale(0.95);
}

.TEXT {
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    background-color: rgba(90, 65, 95, 0.05);
    border-radius: 20px;
}

.TEXT:hover {
    background-color: rgba(90, 65, 95, 0.3);
    transform: translateY(-2px);
}

.TEXT:active {
    background-color: rgba(154, 119, 161, 0.3);
    transform: scale(0.95);
    border-color: rgb(255, 255, 255);
}

.DEFAULT {
    transition: all 0.2s ease;
}

.SUCCES {
    background-color: rgb(134, 250, 134);
    color: rgb(33, 61, 24);
    border: 2px solid transparent;
}

.SUCCES:hover {
    background-color: rgb(183, 255, 183);
    border-color: white;
}

.DANGER {
    background-color: rgb(250, 134, 134);
    border: 2px solid transparent;
    color: white;
}

.DANGER:hover {
    background-color: rgb(255, 88, 88);
    border-color: white;
}

.SECONDARY {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.SECONDARY:hover {
    background-color: white;
    color: black;
}

.PRIMARY {
    border: 3px solid transparent;
}

.PRIMARY:hover {
    background-color: rgb(187, 187, 187);
    border-color: white;
}