.page {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

@media (max-width: 1000px) {
    .page {
        padding-bottom: 5%;
    }
}